<div>

  <aside>

    <section>
      <h1>Name: <%= @user.name %></h1>
      <h2>Username: <%= @user.username %></h2>
      <div class="left" style="margin-right:10px;">
        <%= link_to 'Edit', edit_user_path, :class => 'btn waves-effect waves-light' %>
      </div>
      <div>
        <%= link_to "Sign out", signout_path, method: :delete, :class => 'btn waves-effect waves-light' %>
      </div>
      <h2>link points: 0</h2>
    </section>
    <section>

    </section>
  </aside>

  <aside>

    <section>
      <h1>Posts</h1>
      <section>
        <p>User submissions</p>
      </section>
      <br>
      <h1>Comments</h1>
      <p>User comments</p>
    </section>
  </aside>
</div>
