<div>
  <aside>
    <section>
      <h1><%= @user.username.split.map(&:capitalize).join(' ') %></h1>
      <h2>link points: 0</h2>
    </section>
  </aside>
  <aside>
    <section>
      <h1>Posts</h1>
      <section>
        User submissions
      </section>
      <br>
      <h1>Comments</h1>
        User comments
    </section>
  </aside>
</div>
