
<h1><%= link_to @submission.title, @submission.url, target: :_blank %></h1>
<h4><%= @submission.description %></h4>


<%= link_to 'Edit', edit_submission_path  %>
<% if logged_in? %>
  <%= link_to 'Delete', @submission, controller: 'submissions', action: 'destroy', method: 'delete' %>
<% end %>
  
