@import "materialize";

.thumbsup:hover {
  opacity: 0.5;
}

.thumbsdown:hover {
  opacity: 0.5;
}

.score {
  font-family: Roboto;
  font-weight: bold;
  font-size: 30px;
}

.brand-logo {
  // font-family: 'Rubik Mono One', sans-serif;
  // font-family: 'Shadows Into Light', cursive;
  font-family: 'Graduate', cursive;
  margin-left: 25px;
}

a {
  color: #3d5afe;
}

li#submission_form {
	width: 50%;
	height: 25%;
}
