<!DOCTYPE html>
<html>
<head>
  <title>Addictme.news</title>
  <%= render 'layouts/shim' %>

</head>
<body>
  <!--Import jQuery before materialize.js-->


  <%= render 'layouts/header' %>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
