<!DOCTYPE html>
<html>
<head>
  <title>Page Title</title>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/header' %>
  <h3>------- body content -------</h3>
  <div class="container">
    <%= yield %>
    <%= render 'layouts/footer' %>
  </div>
</body>
</html>
